.movies-container {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.genre-heading {
  color: #cb4154;
  text-align: center;
  animation: textFade 0.6s ease-in;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.page-container button {
  border: none;
  background-color: #cb4154;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
